@inherits LayoutComponentBase

<div class="bg-[#021830]">
    <div class="w-full fixed">
        <NavMenu />
    </div>

    <main class="pt-40 pb-5 px-5 lg:pb-10 lg:px-10 text-white min-h-screen w-full flex flex-col items-center">
        <article class="flex flex-col w-full max-w-[780px] bg-[#36406d] p-3 rounded-xl">
            @Body
        </article>
    </main>
</div>
