@inherits LayoutComponentBase

<div class="">
    <div class="mb-10">
        <NavMenu />
    </div>

    <main class="p-5 lg:p-10 grid grid-cols-1">
        <article class="flex flex-col">
            @Body
        </article>
    </main>
</div>
