@page "/"

<PageTitle>Home</PageTitle>

<h1 class="text-xl text-bold bg-gray-500 p-5">Hello, Kelium JU DSA</h1>
<div>
  <p class="bg-amber-700 p-1">Projects</p>
  <div> <p> This is a new change </p> </div>
</div>
