
.markdown-body h1,h2,h3 {
  margin-bottom: 12px; 
  font-weight: 700;
}
.markdown-body h1 {
  font-size: 35px;
}

.markdown-body h2 {
  font-size: 30px;
}

.markdown-body h3 {
  font-size: 24px;
}

.markdown-body p {
  margin-bottom: 12px;
  font-size: 18px;
  font-weight: normal;
  text-wrap: pretty;
}

.markdown-body em {
  color: #fe7f9d;
}

.markdown-body strong {
  font-weight: 900;
}

.markdown-body pre {
  margin-bottom: 12px;
}

.markdown-body ul,
ol {
  /* user-agent styles */
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
  margin-bottom: 12px;
  font-size: 18px;
}
.markdown-body ol {
  list-style-type: decimal;
}

.markdown-body li {
  display: list-item;
  text-align: match-parent;
}
::marker {
  font-weight: 900;
  unicode-bidi: isolate;
  font-variant-numeric: tabular-nums;
  text-transform: none;
}

.markdown-body a {
  font-size: 18px;
  color: #fe7f9d;
  font-weight: 600;
}

.markdown-body a:hover {
  text-decoration: underline;
}

.markdown-body img {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}
